body{
    margin: 0;
    display: flex;
}

.leftSection{
    width: 30%;
    background-color: darkgrey;
    padding: 15px;

}

.profilePic{
    margin: auto;
    width: auto;
    height:150px;
    border: 2px darkblue solid;
    display: block;
}

.profile{
    margin-top: 30px;
    font-size: 20px;
}


.mainSection{
    width: 70%;
    padding: 15px;
}

h2{ 
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
}

.summary{
    display: block;
    color: white;
    padding: 10px;
    background-color: black;
}

.itemsContainer{
    display: flex;
    margin-top: 30px;
}

.item{
    width: 33%;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 15px;
    font-size: 13px;
}

.conclusion{
    margin-top: 50px;
    padding: 15px;
    background-color: black;
    color: white;
}

